MONGO_URI=
JWT_SECRET=
ADMIN_EMAIL=shopatsellora@gmail.com
ADMIN_PASSWORD=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
GMAIL_USER=
GMAIL_PASS=
CLIENT_URL=http://localhost:5173
PORT=4000
